* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 35px;
  max-width: 1070px;
  width: 100%;
  margin: auto;

  .menu {
    display: flex;
    li a {
      padding: 3px 10px;
      margin: 0 15px;
      color: #3b3b3b;
      font-weight: 500;
      letter-spacing: 0.5px;


      &:hover{
        color: #40aa54;
      }
    }
  }
  .logo {
    font-size: 1.4rem;
    font-weight: 600;
    letter-spacing: 1px;
    color: #202020;

    span {
      color: #40aa54;
    }
  }

  .right-nav{
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 25px;

    a {
      width: 40px;
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      background-color: #202020;
      position: relative;

      

      span {
        position: absolute;
        top: -7px;
        right: -7px;
        width: 20px;
        height: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        color: #ffffff;
        font-size: 0.6rem;
        font-weight: 500;
      }
    }

    .like {
      background-color: #fff0ee;
      color: #ff6c57;
      span {
        background-color: #ff6c57;
      }
    }

    .cart {
      background-color: #ecf7ee;
      color: #4eb060;
      span {
        background-color: #4eb060;
      }
    }
  }
}

#search-banner {
  position: relative;
  max-width: 1250px;
  height: 500px;
  border-radius: 30px;
  margin: 10px auto;
  overflow: hidden;
  background: url(../assets/images/bg.png) no-repeat #ecf7ee;

  background-size: 1000px;
  background-position: bottom right;
  padding: 20px;
  display: flex;
  align-items: center;

  .bg-1 {
    position: absolute;
    left: -50px;
    top: -150px;
    width: 300px;
    height: 300px;
    object-fit: contain;
    object-position: center;
  }

  .bg-2 {
    position: absolute;
    left: 60%;
    transform: translateX(60%);
    top: -75px;
    width: 150px;
    height: 150px;
    object-fit: contain;
    object-position: center;
  }

  .search-banner-text {
    display: flex;
    flex-direction: column;
    width: 500px;
    margin-left: 70px;
    position: relative;

    h1 {
      font-size: 3rem;
      line-height: 55px;
      color: #202020;
      font-weight: bold;
    }

    strong {
      color: #4eb060;
      font-size: 1.4rem;
      margin-top: 4px;
    }

    form {
      background: #fff;
      height: 50px;
      display: flex;
      align-items: center;
      margin-top: 25px;
      padding: 0 5px 0 20px;
      border-radius: 30px;

      i {
        font-size: 1.3rem;
        color: #3b3b3b;
        margin: 0 10px;
      }
  
      input {
        height: 40px;
        border: none;
        width: 100%;
        padding: 0 10px;
        outline: none;
      }
  
      button {
        width: 220px;
        height: 40px;
        border-radius: 30px;
        background: #4eb060;
        border: none;
        color: #fff;
        outline: none;
        cursor: pointer;
        transition: all ease-in 0.4s;
  
        &:hover {
          background: #5ccf71;
        }
      }
    }
  }
}