* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  scroll-behavior: smooth;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1000px;
  width: 100%;
}

.heading h2 {
  font-size: 1.56rem;
  font-weight: 700;
  color: #202020;
}

.heading span {
  color: #a7a7a7;
  font-weight: 400;
  letter-spacing: 1px;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 1000px;
  margin: 50px auto;
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 35px;
  max-width: 1070px;
  width: 100%;
  margin: auto;
}

.navigation .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navigation .menu li a {
  padding: 3px 10px;
  margin: 0 15px;
  color: #3b3b3b;
  font-weight: 500;
  letter-spacing: 0.5px;
}

.navigation .menu li a:hover {
  color: #40aa54;
}

.navigation .logo {
  font-size: 1.4rem;
  font-weight: 600;
  letter-spacing: 1px;
  color: #202020;
}

.navigation .logo span {
  color: #40aa54;
}

.navigation .right-nav {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
  grid-gap: 25px;
}

.navigation .right-nav a {
  width: 40px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  background-color: #202020;
  position: relative;
}

.navigation .right-nav a span {
  position: absolute;
  top: -7px;
  right: -7px;
  width: 20px;
  height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  color: #ffffff;
  font-size: 0.6rem;
  font-weight: 500;
}

.navigation .right-nav .like {
  background-color: #fff0ee;
  color: #ff6c57;
}

.navigation .right-nav .like span {
  background-color: #ff6c57;
}

.navigation .right-nav .cart {
  background-color: #ecf7ee;
  color: #4eb060;
}

.navigation .right-nav .cart span {
  background-color: #4eb060;
}

#search-banner {
  position: relative;
  max-width: 1250px;
  height: 500px;
  border-radius: 30px;
  margin: 10px auto;
  overflow: hidden;
  background: url(../assets/images/bg.png) no-repeat #ecf7ee;
  background-size: 1000px;
  background-position: bottom right;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#search-banner .bg-1 {
  position: absolute;
  left: -50px;
  top: -150px;
  width: 300px;
  height: 300px;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
}

#search-banner .bg-2 {
  position: absolute;
  left: 60%;
  -webkit-transform: translateX(60%);
          transform: translateX(60%);
  top: -75px;
  width: 150px;
  height: 150px;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
}

#search-banner .search-banner-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 500px;
  margin-left: 70px;
  position: relative;
}

#search-banner .search-banner-text h1 {
  font-size: 3rem;
  line-height: 55px;
  color: #202020;
  font-weight: bold;
}

#search-banner .search-banner-text strong {
  color: #4eb060;
  font-size: 1.4rem;
  margin-top: 4px;
}

#search-banner .search-banner-text form {
  background: #fff;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 25px;
  padding: 0 5px 0 20px;
  border-radius: 30px;
}

#search-banner .search-banner-text form i {
  font-size: 1.3rem;
  color: #3b3b3b;
  margin: 0 10px;
}

#search-banner .search-banner-text form input {
  height: 40px;
  border: none;
  width: 100%;
  padding: 0 10px;
  outline: none;
}

#search-banner .search-banner-text form button {
  width: 220px;
  height: 40px;
  border-radius: 30px;
  background: #4eb060;
  border: none;
  color: #fff;
  outline: none;
  cursor: pointer;
  -webkit-transition: all ease-in 0.4s;
  transition: all ease-in 0.4s;
}

#search-banner .search-banner-text form button:hover {
  background: #5ccf71;
}

#category .category-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 40px;
}

#category .category-content .category-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #fafafa;
  border-radius: 10px;
  min-height: 130px;
  width: 120px;
  border: 1px solid rgba(0, 0, 0, 0.03);
}

#category .category-content .category-box img {
  height: 35px;
  width: 50px;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
  -webkit-transition: scale ease-in 0.2s;
  transition: scale ease-in 0.2s;
}

#category .category-content .category-box img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

#category .category-content .category-box span {
  color: #393939;
  font-size: 0.8rem;
  margin-top: 20px;
  letter-spacing: 0.3px;
  font-weight: 600;
}

#popular-product {
  margin: 80px auto;
}

.product-content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
  margin: 40px 0;
  max-width: 1000px;
  width: 100%;
}

.product-content .product-box {
  position: relative;
  width: 300px;
  border: 1px solid #eee;
  background-color: #fff;
  padding: 20px;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.product-content .product-box img {
  width: 90%;
  height: 180px;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
  margin: auto;
}

.product-content .product-box strong {
  color: #202020;
  font-size: 1.1rem;
  letter-spacing: 1px;
  font-weight: 600;
  margin-top: 10px;
}

.product-content .product-box .quantity {
  color: #949494;
  font-size: 0.8rem;
  font-weight: 500;
  letter-spacing: 1px;
}

.product-content .product-box .price {
  margin-top: 10px;
  font-size: 1.4rem;
  font-weight: 600;
  color: #393939;
}

.product-content .product-box .cart-btn {
  width: 100%;
  height: 40px;
  background-color: #ecf7ee;
  color: #4eb060;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
  -webkit-transition: all ease-in 0.3s;
  transition: all ease-in 0.3s;
}

.product-content .product-box .cart-btn:hover {
  background-color: #4eb060;
  color: #fff;
}

.product-content .product-box .cart-btn i {
  margin-right: 10px;
}

.product-content .product-box .like-btn {
  position: absolute;
  right: 30px;
  top: 20px;
  color: #c9c9c9;
  font-size: 1.3rem;
}

#popular-bundle-pack {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1150px;
  margin: 50px auto;
  padding: 60px 0 20px 0;
  border-radius: 20px;
  background-color: #ecf7ee;
  border: 1px solid #f3f3f3;
}

#clients {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f6f6f656;
  padding: 40px 0;
  border-top: 1px solid #f3f3f3;
  border-bottom: 1px solid #f3f3f3;
}

#clients .client-heading h3 {
  font-size: 1.56rem;
  color: #202020;
  font-weight: 700;
  letter-spacing: 0.5px;
}

#clients .client-box-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  width: 90%;
  margin-top: 40px;
}

#clients .client-box-container .client-box {
  background-color: #fff;
  padding: 30px 20px;
  border: 1px solid #f1f1f1;
  -webkit-box-shadow: 2px 2px 50px rgba(0, 0, 0, 0.05);
          box-shadow: 2px 2px 50px rgba(0, 0, 0, 0.05);
  border-radius: 0 30px 0 30px;
}

#clients .client-box-container .client-box .client-profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#clients .client-box-container .client-box .client-profile img {
  width: 40px;
  height: 40px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  border-radius: 50%;
}

#clients .client-box-container .client-box .client-profile .profile-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 10px;
}

#clients .client-box-container .client-box .client-profile .profile-text strong {
  color: #393939;
  font-size: 1rem;
  font-weight: 600;
}

#clients .client-box-container .client-box .client-profile .profile-text span {
  color: #949494;
  font-weight: 500;
  font-size: 0.9rem;
}

#clients .client-box-container .client-box .rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 10px 0;
}

#clients .client-box-container .client-box .rating i {
  color: #fdcc0d;
}

#clients .client-box-container .client-box p {
  color: #7c7c7c;
}

#partner {
  margin: 100px auto;
}

#partner .logo-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 40px;
}

#partner .logo-container img {
  height: 55px;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
  opacity: 0.3;
  -webkit-transition: all ease-in 0.3s;
  transition: all ease-in 0.3s;
}

#partner .logo-container img:hover {
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
  opacity: 1;
}

#download-app {
  max-width: 1150px;
  width: 100%;
  background-color: #ecf7ee;
  height: 400px;
  margin: 225px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#download-app .app-img {
  width: 275px;
  height: 550px;
  background-color: #fff;
  border: 4px solid #393939;
  border-radius: 20px;
  overflow: hidden;
}

#download-app .app-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top center;
     object-position: top center;
}

#download-app .download-app-text {
  max-width: 400px;
}

#download-app .download-app-text strong {
  color: #393939;
  font-size: 1.56rem;
  font-weight: bold;
}

#download-app .download-app-text p {
  color: #3b3b3b;
  margin: 15px 8px;
}

#download-app .download-app-text .donwload-btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#download-app .download-app-text .donwload-btns a {
  height: 44px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 10px;
  border-radius: 5px;
  overflow: hidden;
}

#download-app .download-app-text .donwload-btns a img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-fit: center;
     object-fit: center;
}

footer {
  background-color: #1b1b1f;
  padding: 50px 20px;
  border-top: 5px solid #4eb060;
}

footer .footer-container {
  max-width: 1100px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

footer .footer-container .footer-social a {
  color: #fff;
  font-size: 1.4rem;
  font-weight: 600;
  letter-spacing: 1px;
  -webkit-transition: all ease-in 0.3s;
  transition: all ease-in 0.3s;
}

footer .footer-container .footer-social a span {
  color: #4eb060;
}

footer .footer-container .footer-social a:hover {
  color: #4eb060;
}

footer .footer-container .footer-social ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 10px;
}

footer .footer-container .footer-social ul a {
  width: 40px;
  height: 40px;
  color: #fff;
  font-size: 0.9rem;
  margin: 0 5px;
}

footer .footer-container .footer-links strong {
  color: #fff;
  font-size: 1.4rem;
  font-weight: 600;
}

footer .footer-container .footer-links ul {
  margin-top: 10px;
}

footer .footer-container .footer-links ul a {
  color: #fff;
  opacity: 0.5;
  margin: 4px 0;
  font-size: 0.9rem;
  letter-spacing: 1px;
  -webkit-transition: all ease-in 0.3s;
  transition: all ease-in 0.3s;
}

footer .footer-container .footer-links ul a:hover {
  opacity: 1;
}
/*# sourceMappingURL=styles.css.map */