* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1000px;
  width: 100%;

  h2 {
    font-size: 1.56rem;
    font-weight: 700;
    color: #202020;
  }

  span {
    color: #a7a7a7;
    font-weight: 400;
    letter-spacing: 1px;
  }
}

.container {
  display: flex;
  flex-direction: column;
  max-width: 1000px;
  margin: 50px auto;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 35px;
  max-width: 1070px;
  width: 100%;
  margin: auto;

  .menu {
    display: flex;
    li a {
      padding: 3px 10px;
      margin: 0 15px;
      color: #3b3b3b;
      font-weight: 500;
      letter-spacing: 0.5px;


      &:hover{
        color: #40aa54;
      }
    }
  }
  .logo {
    font-size: 1.4rem;
    font-weight: 600;
    letter-spacing: 1px;
    color: #202020;

    span {
      color: #40aa54;
    }
  }

  .right-nav{
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 25px;

    a {
      width: 40px;
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      background-color: #202020;
      position: relative;

      

      span {
        position: absolute;
        top: -7px;
        right: -7px;
        width: 20px;
        height: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        color: #ffffff;
        font-size: 0.6rem;
        font-weight: 500;
      }
    }

    .like {
      background-color: #fff0ee;
      color: #ff6c57;
      span {
        background-color: #ff6c57;
      }
    }

    .cart {
      background-color: #ecf7ee;
      color: #4eb060;
      span {
        background-color: #4eb060;
      }
    }
  }
}

#search-banner {
  position: relative;
  max-width: 1250px;
  height: 500px;
  border-radius: 30px;
  margin: 10px auto;
  overflow: hidden;
  background: url(../assets/images/bg.png) no-repeat #ecf7ee;

  background-size: 1000px;
  background-position: bottom right;
  padding: 20px;
  display: flex;
  align-items: center;

  .bg-1 {
    position: absolute;
    left: -50px;
    top: -150px;
    width: 300px;
    height: 300px;
    object-fit: contain;
    object-position: center;
  }

  .bg-2 {
    position: absolute;
    left: 60%;
    transform: translateX(60%);
    top: -75px;
    width: 150px;
    height: 150px;
    object-fit: contain;
    object-position: center;
  }

  .search-banner-text {
    display: flex;
    flex-direction: column;
    width: 500px;
    margin-left: 70px;
    position: relative;

    h1 {
      font-size: 3rem;
      line-height: 55px;
      color: #202020;
      font-weight: bold;
    }

    strong {
      color: #4eb060;
      font-size: 1.4rem;
      margin-top: 4px;
    }

    form {
      background: #fff;
      height: 50px;
      display: flex;
      align-items: center;
      margin-top: 25px;
      padding: 0 5px 0 20px;
      border-radius: 30px;

      i {
        font-size: 1.3rem;
        color: #3b3b3b;
        margin: 0 10px;
      }
  
      input {
        height: 40px;
        border: none;
        width: 100%;
        padding: 0 10px;
        outline: none;
      }
  
      button {
        width: 220px;
        height: 40px;
        border-radius: 30px;
        background: #4eb060;
        border: none;
        color: #fff;
        outline: none;
        cursor: pointer;
        transition: all ease-in 0.4s;
  
        &:hover {
          background: #5ccf71;
        }
      }
    }
  }
}

#category {
  .category-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;

    .category-box {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background: #fafafa;
      border-radius: 10px;
      min-height: 130px;
      width: 120px;
      border: 1px solid rgba(0, 0, 0, 0.03);

      img {
        height: 35px;
        width: 50px;
        object-fit: contain;
        object-position: center;
        transition: scale ease-in 0.2s;

        &:hover {
          transform: scale(1.1);
        }
      }

      span {
        color: #393939;
        font-size: 0.8rem;
        margin-top: 20px;
        letter-spacing: 0.3px;
        font-weight: 600;
      }
    }
  }
}

#popular-product {
  margin: 80px auto;
}

.product-content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
  margin: 40px 0;
  max-width: 1000px;
  width: 100%;
  
  .product-box {
    position: relative;
    width: 300px;
    border: 1px solid #eee;
    background-color: #fff;
    padding: 20px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;

    img {
      width: 90%;
      height: 180px;
      object-fit: contain;
      object-position: center;
      margin: auto;
    }

    strong {
      color: #202020;
      font-size: 1.1rem;
      letter-spacing: 1px;
      font-weight: 600;
      margin-top: 10px;
    }

    .quantity {
      color: #949494;
      font-size: 0.8rem;
      font-weight: 500;
      letter-spacing: 1px;
    }

    .price {
      margin-top: 10px;
      font-size: 1.4rem;
      font-weight: 600;
      color: #393939;
    }

    .cart-btn {
      width: 100%;
      height: 40px;
      background-color: #ecf7ee;
      color: #4eb060;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 20px;
      transition: all ease-in 0.3s;

      &:hover{
        background-color: #4eb060;
        color: #fff;
      }

      i {
        margin-right: 10px;
      }
    }

    .like-btn {
      position: absolute;
      right: 30px;
      top: 20px;
      color: #c9c9c9;
      font-size: 1.3rem;
    }
  }
}

#popular-bundle-pack {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1150px;
  margin: 50px auto;
  padding: 60px 0 20px 0;
  border-radius: 20px;
  background-color: #ecf7ee;
  border: 1px solid #f3f3f3;
}

#clients {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f6f6f656;
  padding: 40px 0;
  border-top: 1px solid #f3f3f3;
  border-bottom: 1px solid #f3f3f3;
  
  .client-heading h3 {
    font-size: 1.56rem;
    color: #202020;
    font-weight: 700;
    letter-spacing: 0.5px;
  }

  .client-box-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    width: 90%;
    margin-top: 40px;

    .client-box {
      background-color: #fff;
      padding: 30px 20px;
      border: 1px solid #f1f1f1;
      box-shadow: 2px 2px 50px rgba(0,0,0,0.05);
      border-radius: 0 30px 0 30px;

      .client-profile {
        display: flex;
        align-items: center;

        img {
          width: 40px;
          height: 40px;
          object-fit: cover;
          object-position: center;
          border-radius: 50%;
        }

        .profile-text {
          display: flex;
          flex-direction: column;
          margin-left: 10px;

          strong {
            color: #393939;
            font-size: 1rem;
            font-weight: 600;
          }

          span {
            color: #949494;
            font-weight: 500;
            font-size: 0.9rem;
          }
        }
      }

      .rating {
        display: flex;
        margin: 10px 0;
        i {
          color: #fdcc0d;
        }
      }

      p {
        color: #7c7c7c;
      }
    }
  }
}

#partner {
  margin: 100px auto;

  .logo-container {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;

    img {
      height: 55px;
      object-fit: contain;
      object-position: center;

      filter: grayscale(1);
      opacity: 0.3;
      transition: all ease-in 0.3s;

      &:hover {
        filter: grayscale(0);
        opacity: 1;
      }
    }
  }
}